# CARLA Simulator Dependencies
carla==0.9.16
pygame>=2.5,<3
pynput>=1.7,<2

# Model Training & Diagnostics Dependencies
torch>=2.2
numpy>=1.26
pandas>=2.1
h5py>=3.10
matplotlib>=3.8
jupyterlab>=4.0
tensorboard>=2.15
onnx>=1.16
